.card{
 position: relative;
 width: 1145px;
 margin: 0 auto;
}

.card__taitl{
 font-family: $--font-font-font-family;
 font-weight: 900;
 font-size: 24px;
 line-height: 32px;
 color: $--Grey-color;
 margin: 0;
 margin-bottom: 72px;
}

.card__img{
 margin-bottom: 45px;
 width: 49px;
 height: 44px;
}

.card__list{
 display: flex;
 justify-content: space-between;
 list-style: none;
 margin: 0;
 padding: 0;
 margin-bottom: 168px;
}


.card__item{
 width: 285px;
 margin-right: 10px;
}

.card__taitls{
 font-weight: 900;
 font-size: 32px;
 line-height: 36px;
 font-family: $--font-font-font-family;
 color: $--Grey-Blue-color;
 margin: 0;
 margin-bottom: 24px;
}

.card__link{
 text-decoration: none;
 font-size: 16px;
 line-height: 26px;
 color: $--Grey-Blue-color;
 opacity: 0.8;
}



@media only screen and (max-width: 900px){

 .card{
  max-width: 100%;
 }

 .card__taitl{
  max-width: 100%;
  font-size: 24px;
 }

 .card__list{
  max-width: 100%;
 }

 .card__item{
  max-width: 100%;
 }

 .card__taitls{
  max-width: 100%;
  font-size: 28px;
 }

 .card__link{
  max-width: 100%;
 }

}

@media only screen and (max-width: 878px){

 .card{
  text-align: center;
  max-width: 100%;
 }

 .card__taitl{
  max-width: 100%;
  font-size: 24px;
 }

 .card__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
 }

 .card__item{
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 177px;
 }

 .card__taitls{
  max-width: 100%;
  font-size: 28px;
 }

 .card__link{
  max-width: 100%;
 }

}

@media only screen and (max-width: 670px){

 .card{
  max-width: 100%;
  text-align: center;
 }

 .card__taitl{
  max-width: 100%;
  font-size: 24px;
 }

 .card__list{
  text-align: center;
  // margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 100%;
 }

 .card__item{

  margin: 0 auto;
  align-items: center;
  max-width: 100%;
  margin-bottom: 177px;
 }

 .card__taitls{
  max-width: 100%;
  font-size: 28px;
 }

 .card__link{
  max-width: 100%;
 }

}