

.header-section__box{
 padding-top: 44px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 45px;
}

.header-section__link{
 margin-right: 30px;
}

.header-section__list{
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
}

.header-section__item + .header-section__item{
 margin-left: 33px;
}

.header-section__item-link{
 text-decoration: none;
 color: $--Grey-color;
 font-weight: bold;
 font-size: 12px;
 line-height: 15px;

 &:hover{
  color: $--Grey-Blue-color;
  transition: all 0.4s ease;
 }
}


.header-section__btn{
 display: none;
}

@media only screen and (max-width: 900px){

 .header-section__box{
  max-width: 100%;
 }
}

@media only screen and (max-width: 605px){

 .header-section__box{
  max-width: 100%;
 }

 .header-section__nav{
  display: none;
 }

 .header-section__btn{
  display: block;
  border: none;
  background-color: transparent;
 }

}

@media only screen and (max-width: 370px){

 .header-section__logo{
  max-width: 100%;
  margin-right: 15px;
 }

 .header-section__box{
  max-width: 100%;
  margin-right: 0;
 }


}