.hero__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 256px;
}

.hero__boxs{
  width: 540px;
}

.hero__img{
  border-radius: 10px;
}

.hero__imgs{
  display: none;
}

.hero__taitl{
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  font-family: $--font-font-font-family;
  color:$--Grey-Blue-color;
}

.hero__text{
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: $--Grey-Blue-color;
  opacity: 0.8;
}


.second{
  position: relative;
  background-color: #2A313A;
  width: 1280;
  height: 474px;
  border-radius: 10px;
  margin-bottom: 168px;
}

.second .hero__box{
  flex-direction: row-reverse;
}

.second .hero__img{
  position: absolute;
  z-index: 4;
  bottom: 90px;
}

.second .hero__boxs{
  width: 540px;
}

.second .hero__taitl{
  position: absolute;
  left: 88px;
  top: 90px;
  color: $--Light-Cream-color;
}

.second .hero__text{
  position: absolute;
  top: 180px;
  left: 88px;
  width: 540px;
  color: $--Light-Cream-color;
}


.second{
  position: relative;
  background-color: #2A313A;
  width: 1280;
  height: 474px;
  border-radius: 10px;
  margin-bottom: 168px;
}


@media only screen and (max-width: 1311px){

  .hero__box{
    max-width: 100%;
  }

  .hero__boxs{
    max-width: 100%;
  }

  .hero__img{
    margin-right: 69px;
  }


}

@media only screen and (max-width: 900px){

  .hero__box{
    max-width: 100%;
  }


  .hero__boxs{
    max-width: 100%;
  }

  .hero__img{
    max-width: 100%;
    margin-right: 69px;
  }

  .container{
    padding: 0px 40px;
  }

}

@media only screen and (max-width: 369px){

  .hero__box{
    max-width: 100%;
  }


  .hero__boxs{
    max-width: 100%;
  }

  .hero__taitl{
    max-width: 100%;
    font-size:28px ;
  }

  .hero__img{
    max-width: 100%;
    margin-right: 69px;
  }

  .container{
    padding: 0px 40px;
  }

}


@media only screen and (max-width: 901px){

  .hero__box{
    width: 100%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0 ;
    margin-right: 0;
    margin-bottom: 269px;
  }

  .hero__img{
    margin: 0;
    margin-right: 69px;
    margin-bottom: 48px;
    object-fit: cover;
    max-width: 100%;
  }

  .hero__boxs{
    max-width: 100%;
    align-items: center;
    margin-left: 0 ;
    margin-right: 0;
  }

  .hero__taitl{
    max-width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 48px;

  }

  .hero__text{
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }

}

@media only screen and (max-width: 878px){

  .hero__box{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 0 ;
    margin-right: 0;
    margin-bottom: 269px;
  }

  .hero__img{
    margin: 0;
    margin-bottom: 48px;
    object-fit: cover;
    max-width: 100%;

  }

  .hero__boxs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 0 ;
    margin-right: 0;
  }

  .hero__taitl{
    max-width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 48px;

  }

  .hero__text{
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }

}

@media only screen and (max-width: 437px){

  .hero__taitl{
    max-width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 48px;

  }

  .hero__box{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 0 ;
    margin-right: 0;
    margin-bottom: 269px;
  }

  .hero__img{
    margin: 0;
    margin-bottom: 48px;
    object-fit: cover;
    max-width: 100%;

  }

  .hero__boxs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 0 ;
    margin-right: 0;
  }

  .hero__taitl{
    max-width: 100%;
    text-align: center;
    font-size: 27px;
    line-height: 48px;

  }

  .hero__text{
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }


}

@media only screen and (max-width: 901px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }


  .second .hero__boxs{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
    height: 100%;

  }

  .second .hero__taitl{
    width: 100%;
    font-size: 25px;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +385px;
    margin: 0 auto;
    width: 80%;

  }

  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +470px;
    margin: 0 auto;
    width: 80%;

  }

}

@media only screen and (max-width: 808px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    margin: 0 auto;
    width: 80%;
  }

}

@media only screen and (max-width: 656px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
    min-height: 609px;
    max-height: 100%;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__taitl{
    width: 100%;
    font-size: 22px;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +385px;
    margin: 0 auto;
    width: 80%;

  }


  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +470px;
    margin: 0 auto;
    width: 80%;
  }

}

@media only screen and (max-width: 560px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
    min-height: 609px;
    max-height: 100%;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +470px;
    margin: 0 auto;
    width: 80%;
  }

}

@media only screen and (max-width: 500px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
    min-height: 609px;
    max-height: 100%;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__taitl{
    width: 100%;
    font-size: 24px;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +305px;
    margin: 0 auto;
    width: 80%;

  }

  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +420px;
    margin: 0 auto;
    width: 80%;
  }

}

@media only screen and (max-width: 491px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
    min-height: 609px;
    max-height: 100%;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 573px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__taitl{
    width: 100%;
    font-size: 24px;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +305px;
    margin: 0 auto;
    width: 80%;

  }

  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +420px;
    margin: 0 auto;
    width: 80%;
  }

}


@media only screen and (max-width: 340px){

  .second{
    position: relative;
    max-width: 100%;
    padding-bottom: 50px;
    max-height: 1000px;
    min-height: 659px;
    max-height: 100%;
  }

  .second .hero__img{
    display: none;
    position: absolute;
    bottom: 290px;
    right: 50px;
    width: 803px;
    height: 320px;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__imgs{
    display: block;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: 0 auto;
    width: 80%;
  }

  .second .hero__taitl{
    width: 100%;
    font-size: 18px;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +305px;
    margin: 0 auto;
    width: 80%;

  }


  .second .hero__text{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: +400px;
    margin: 0 auto;
    width: 80%;
  }

}