.intro__box{
 width: 1280px;
 height: 450px;
 background-image: url("../images/Bitmap-\(2\).png");
 padding: 137px 85px;
 margin-bottom: 168px;
 background-repeat: no-repeat;
}

.intro__boxs{
 width: 445px;
}

.intro__taitl{
 margin: 0;
 font-weight: 900;
 font-size: 40px;
 line-height: 48px;
 font-family: $--font-font-font-family;
 color: $--Light-Cream-color;
 margin-bottom:24px ;
}

.intro__text{
 margin: 0;
 font-size: 16px;
 line-height: 26px;
 color: $--Light-Cream-color;
 opacity: 0.8;
}

@media only screen and (max-width: 1311px){

 .intro__box{
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 168px;
 }


}

@media only screen and (max-width: 900px){

 .intro__box{
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 168px;
 }

 .intro__boxs{
  max-width: 100%;
  border-radius: 10px;
  align-items: center;
  margin: 0;
 }

 .intro__text{
  align-items: center;
 }

}

@media only screen and (max-width: 565px){

 .intro__box{
  max-width: 100%;
  padding: 111px 24px 87px 24px;
  margin-bottom: 168px;
 }

 .intro__taitl{
  max-width: 100%;
  text-align: center;
 }

 .intro__text{
  max-width: 100%;
  text-align: center;
 }

}

@media only screen and (max-width: 370px){

 .intro__box{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 168px;
 }

 .intro__taitl{
  max-width: 100%;
  text-align: center;
  font-size: 32px;
 }


}